 <nav class="menu__side">
   <div class="name__page">
     <img src="assets/img/upeu.jpg" width="60px" [routerLink]="['/home/welcome']" >
   </div>
   <ul class="options__menu">
     <li>
      <a class="option" [routerLink]="['/home/proyectos']">
         <mat-icon title="docint" svgIcon="docint"></mat-icon>
         <h4><strong>Documento Intervencion</strong></h4>
      </a>
     </li>
     <li>
       <a class="option"  [routerLink]="['/home/convenio']" >
         <mat-icon id="arreglo" title="proyecto" svgIcon="proyecto"></mat-icon>
         <h4 id="arregloa"><strong>Proyecto</strong></h4>
       </a>
     </li>

     <li>
       <a class="option"  href="#">
         <mat-icon id="arreglo" title="informe" svgIcon="informe"></mat-icon>
         <h4 id="arregloa"><strong>Informe</strong></h4>
       </a>
     </li>

     <li>
      <a class="option"  href="#">
        <mat-icon id="arreglo" title="actividad" svgIcon="actividad"></mat-icon>
        <h4 id="arregloa"><strong>Actividad</strong></h4>
      </a>
     </li>
   </ul>
 </nav>
